<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <title><%= @page_title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Raleway:wght@500&display=swap"
      rel="stylesheet"
    />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
    <header class="p-4 sm:p-6 lg:p-8 bg-main_accent-500 ">
      <div class="max-w-6xl mx-auto flex justify-between">
        <nav class="flex items-center gap-6 ">
          <.link
            href={~p"/"}
            class="flex items-center gap-4 leading-6 text-neutral-100 hover:text-white hover:scale-110 transition-transform"
          >
            <IconComponent.render
              id="logo-header"
              name="logo"
              viewBox="0 0 122.9 85.6"
              width="48"
              height="26"
              fill="white"
              aria_label="redirect to main page"
            />
            <p class="text-[16px]">
              Introduct Polls
            </p>
          </.link>
          <%= if @current_user do %>
            <.link
              href={~p"/new"}
              class="text-[16px] leading-6 text-neutral-100 hover:text-white hover:scale-110 transition-transform"
            >
              Create new
            </.link>
          <% end %>
        </nav>

        <ul class="hidden md:flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end">
          <%= if @current_user do %>
            <li class="text-[16px] leading-6 text-neutral-100">
              <%= @current_user.email %>
            </li>
            <li>
              <.link
                href={~p"/users/log_out"}
                method="delete"
                class="text-[16px] leading-6 text-neutral-100 hover:text-white hover:scale-110 transition-transform"
              >
                Log out
              </.link>
            </li>
          <% else %>
            <li>
              <.link
                href={~p"/users/register"}
                class="text-[16px] leading-6 text-neutral-100 hover:text-white hover:scale-110 transition-transform"
              >
                Register
              </.link>
            </li>
            <li>
              <.link
                href={~p"/users/log_in"}
                class="text-[16px] leading-6 text-neutral-100 hover:text-white hover:scale-110 transition-transform"
              >
                Log in
              </.link>
            </li>
          <% end %>
        </ul>
        <!-- Hamburger Icon for mobile -->
        <div class="md:hidden flex items-center">
          <button
            id="menu-toggle"
            phx-hook="ToggleMobileMenu"
            class="text-zinc-900 hover:scale-110 transition-transform"
          >
            <span id="menu-opened">
              <IconComponent.render
                id="menu-opened-icon"
                name="menu-opened-icon"
                fill="white"
                stroke="white"
                aria_label="open mobile menu"
              />
            </span>
            <span id="menu-closed" class="hidden">
              <IconComponent.render
                id="menu-closed-icon"
                name="menu-closed-icon"
                width="20"
                height="20"
                fill="white"
                stroke="none"
                aria_label="close mobile menu"
              />
            </span>
          </button>
        </div>
      </div>
    </header>
    <!-- Mobile Menu (Hidden by default) -->
    <div
      id="mobile-menu"
      class="md:hidden hidden fixed top-[74px] left-0 right-0 h-full bg-white z-50"
    >
      <ul class="flex flex-col items-end gap-4 p-8">
        <%= if @current_user do %>
          <li class="text-[16px] leading-6 text-zinc-900">
            <%= @current_user.email %>
          </li>
          <li>
            <.link
              href={~p"/users/log_out"}
              method="delete"
              class="text-[16px] leading-6 text-zinc-900 hover:text-main_accent-800 hover:scale-110 transition-transform origin-right"
            >
              Log out
            </.link>
          </li>
        <% else %>
          <li>
            <.link
              href={~p"/users/register"}
              class="text-[16px] leading-6 text-zinc-900 hover:text-main_accent-800 hover:scale-110 transition-transform origin-right"
            >
              Register
            </.link>
          </li>
          <li>
            <.link
              href={~p"/users/log_in"}
              class="text-[16px] leading-6 text-zinc-900 hover:text-main_accent-800 hover:scale-110 transition-transform origin-right"
            >
              Log in
            </.link>
          </li>
        <% end %>
      </ul>
    </div>

    <%= @inner_content %>
    <footer
      id="scroll-footer"
      phx-hook="ShowFooter"
      class="hidden fixed bottom-0 right-0 md:right-[50%] md:translate-x-1/2 bg-main_accent-500 text-neutral-100 py-4 mx-auto w-full max-w-5xl"
    >
      <div class="container mx-auto text-center">
        <p>
          Made by
          <a
            href="https://github.com/VictoriaYotka"
            class="ms-1 font-bold text-main_accent-200 hover:text-neutral-100"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            Victoria Yotka
          </a>
        </p>
        <p>2024</p>
      </div>
    </footer>
  </body>
</html>
